.interective-avatar {
    width: 4.444444rem;
    height: 4.444444rem;
    border: 0.333333rem solid transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;


    &:hover {
        border-color: #0f5a47;

    }

    @include tablets {
        width: 4.055556rem;
        height: 4.055556rem;
    }

    &--active {
        border-color: #0f5a47;
    }

    &__link {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    &__pic {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}