.contacts {
    font-style: normal;

   &__desc {
       font-size: 1.166667rem;
       color: black;
    }   
       
    &__phone .phone__text {
        color: #497870;
    }

    @include phones {
        margin-bottom: 0.555556rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}