.dropdown {
    position: relative;
    display: flex;

    .dropdown__wrapper {
        position: absolute;
        left: 100%;
        height: 18.444444rem;
        width: 15.166667rem;
        opacity: 0;
        transition: opacity .4s;
        top: -9999px;

        
    }



    &:hover .dropdown__wrapper {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
        backdrop-filter: blur(40px);
        padding: 0 1.388889rem;
        color: #000000;
        border-radius: 0.222222rem;
        font-size: 0.888889rem;
        top: 0;
        opacity: 1;
    }          
}