.logo {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    max-width: 2.888889rem;
    font-size: 1.5rem;
    line-height: 0.8;

    &__name {
        flex: 1;
        display: flex;
        
    }

}