.phone {
    font-size: 1.222222rem;
    display: flex;
    align-items: center;

    &__icon {
        flex-shrink: 0;
    }

    &__icon-pic{
        fill: white;
        width: 0.777778rem;
        height: 0.833333rem;
        margin-right: 0.333333rem;
        
        &--green {
            fill: #497870;
        }
    }

    &__text {
        white-space: nowrap;
    }
}